.container1, .container2, .container3, .container4 {
    height: 10vh;
    width: 8vw;
    position: relative;
    margin-bottom: -6vh;
    z-index: 4; /* Set the stacking order for container4 */
}

.container2 {
    z-index: 3; /* Set the stacking order for container3 */
}

.container3 {
    z-index: 2; /* Set the stacking order for container2 */
}

.container4 {
    z-index: 1; /* Set the stacking order for container1 */
}

/* Increased specificity for hover selectors */
.container1:hover .top1,
.container2:hover .top2,
.container3:hover .top3,
.container4:hover .top4 {
    opacity: 0.8;
    transition: all 0.5s ease;
}

.container1 img, .container2 img, .container3 img, .container4 img {
    height: 100%; /* Adjusted to fill container */
    width: 100%; /* Adjusted to fill container */
}

.top1, .top2, .top3, .top4 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%; /* Ensure the .top element covers the entire container */
    width: 100%; /* Ensure the .top element covers the entire container */
}



.text-container {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 100%; /* Position it to the right side of the container */
    transform: translate(10px, -50%); /* Adjust as needed for proper positioning */
    display: none; /* Initially hide the text */
    z-index: 5; /* Ensure the text appears above the images */
    white-space: nowrap; /* Prevent text from wrapping */
    width: max-content; /* Adjust width to accommodate long text */
}

.container1:hover .text-container,
.container2:hover .text-container,
.container3:hover .text-container,
.container4:hover .text-container {
    display: flex;
    flex-direction: column;
}
